.register-container {
  background-color: #84b6f4;
  padding: 40px;
  border-radius: 20px;
  max-width: 800px;
  margin: 50px auto; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box; 
  overflow: hidden; 
  width: 90%; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 8px; 
  font-weight: bold;
}

input {
  padding: 12px;
  width: 100%; 
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; 
}

.register-btn {
  margin-top: 20px;
  padding: 12px 40px;
  background-color: #4cd964;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #45c157;
}


@media (max-width: 768px) {
  .register-container {
    padding: 30px 20px 50px; 
    max-width: 85%; 
    width: 95%; 
  }

  .row {
    flex-direction: column; 
    gap: 20px; 
  }

  input {
    font-size: 14px; 
  }

  .register-btn {
    font-size: 16px; 
    padding: 10px 30px;
  }
}


@media (max-width: 480px) {
  .register-container {
    padding: 20px 15px 40px; 
    width: 95%; 
  }

  label {
    font-size: 14px; 
  }

  input {
    font-size: 12px; 
  }

  .register-btn {
    font-size: 14px; 
    padding: 8px 20px;
  }
}