<app-toolbar></app-toolbar>

<div class="device-container">
  <div class="device-header">
    <img src="assets/images/icon-engra.png" alt="Sensor Icon" class="device-icon" />
    <div>
      <h2>Sensor de agua - Tanque</h2>
      <p class="status-online">Online</p>
    </div>
  </div>

  <h3>Historial y Reportes</h3>

  <table class="device-table" *ngIf="tanks.length > 0; else noData">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Nivel Detectado en el Tanque</th>
        <th>Acción</th>
        <th>Resultado Esperado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tank of tanks">
        <td>{{ tank.nivel.fechaMedicion | date:'short' }}</td>
        <td>{{ tank.nivel.porcentaje }}%</td>
        <td>{{ mapVolumenToMensajes(tank.nivel.porcentaje).accion }}</td>
        <td>{{ mapVolumenToMensajes(tank.nivel.porcentaje).resultado }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <p>No hay registros disponibles para mostrar.</p>
  </ng-template>
</div>
