<app-toolbar></app-toolbar>

<div class="profile-wrapper">
  <div class="profile-container">
    <div class="profile-image">
      <img src="assets/images/icon-profile.png" alt="User Icon" />
    </div>

    <div class="profile-details">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" [value]="username || 'N/A'" readonly />
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [value]="email || 'N/A'" readonly />
      </div>
    </div>
  </div>

  <div class="profile-footer">
    <img src="assets/images/logo.png" alt="WaterGuard Logo" />
  </div>
</div>
