<div class="login-container">
    <h1>Login</h1>
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Email" />
  
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" />
  
      <div class="links">
        <a href="#" class="forgot">Has olvidado tu contraseña?</a><br />
        <span>No tienes una cuenta? <a class="signup-link" routerLink="/signup">Regístrate ahora</a></span>
      </div>
  
      <button type="submit" class="signup-button">Sign Up</button>
    </form>
  </div>
  
