<app-toolbar></app-toolbar>

<div class="home-container">
  <div class="header-row">
    <h2>Viewing the AWS Console - Tank water</h2>
    <img
      src="assets/images/pdf-icon.png"
      alt="Descargar PDF"
      class="pdf-icon"
      (click)="openModal()"
    />
  </div>

  <app-pdf-modal
    *ngIf="showModal"
    (confirm)="savePdf()"
    (closeModal)="closeModal()"
  ></app-pdf-modal>

  <!-- Estado del agua -->
  <div class="card" *ngIf="tank?.calidad">
    <h3>Estado del Agua</h3>

    <div class="water-status-detail">
      <img src="assets/images/ph-icon.png" alt="pH" width="24" />
      <strong>pH:</strong> {{ tank.calidad.ph }}
    </div>

    <div class="water-status-detail">
      <img src="assets/images/temperature-icon.png" alt="Temperatura" width="24" />
      <strong>Temperatura:</strong> {{ tank.calidad.temperatura }} °C
    </div>

    <div class="water-status-detail">
      <img src="assets/images/volume-icon.png" alt="Conductividad" width="24" />
      <strong>Conductividad:</strong> {{ tank.calidad.conductividad }} µS/cm
    </div>

    <div class="water-status-detail">
      <img src="assets/images/volume-icon.png" alt="Turbidez" width="24" />
      <strong>Turbidez:</strong> {{ tank.calidad.turbidez }} NTU
    </div>
  </div>

  <!-- Nivel del agua -->
  <div class="card" *ngIf="tank?.nivel">
    <h3>Nivel del Agua</h3>

    <div class="water-status-detail">
      <img src="assets/images/volume-icon.png" alt="Volumen" width="24" />
      <strong>Volumen:</strong> {{ tank.nivel.porcentaje }} %
    </div>
  </div>
</div>
