
.home-container {
  background-color: #f4f4f4;
  min-height: calc(100vh - 120px);
  padding: 20px;
}


h2 {
  margin-bottom: 20px;
}


.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}


.object-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.object-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}

.detail {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
}


.pdf-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.water-status-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #efefef;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.alert-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.alert-box.ph {
  background-color: #fff9c4;
  border-left: 8px solid #fbc02d;
}

.alert-box.temperatura {
  background-color: #ffcdd2;
  border-left: 8px solid #e53935;
}

.alert-box.volumen {
  background-color: #d0f0fd;
  border-left: 8px solid #0288d1;
}

.alert-icon {
  font-size: 24px;
}

/* Header de PDF y título */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
