.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2563eb;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.right-section {
  gap: 1rem;
}

.right-section button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.right-section img {
  height: 26px;
  width: 26px;
}

.profile-button {
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
}


@media (max-width: 600px) {
  .toolbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .left-section {
    margin-bottom: 1rem;
  }

  .app-name {
    font-size: 1.2rem;
  }

  .right-section {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
