.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2563eb;
  padding: 0.8rem 1.5rem;
  height: 72px; /* Aumenta la altura */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 44px;
  margin-right: 12px;
}

.app-name {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.right-section {
  gap: 1.2rem;
}

.right-section button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 28px;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
}

.right-section button:hover {
  transform: scale(1.1);
}

.material-icons {
  font-size: 28px;
}

.profile-button {
  border-radius: 50%;
  padding: 6px;
  border: 2px solid white;
  background-color: transparent;
}

.logout-button .material-icons {
  background: none;
  border: none;
  color: #ff4d4f; 
  cursor: pointer;
  font-size: 28px;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.logout-button:hover .material-icons {
  transform: scale(1.1);
  color: #e60000; /* Un rojo más intenso al hacer hover */
}


/* Responsive */
@media (max-width: 600px) {
  .toolbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .left-section {
    margin-bottom: 1rem;
  }

  .app-name {
    font-size: 1.2rem;
  }

  .right-section {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
